
@mixin background-gif($url, $position: 50% 50%, $darkness: 0.5, $blur: 0.5, $size: 5) {
  background-color: black;
  &::before {
    content: '';
    position: absolute;
    height: 100% / $size;
    width: 100% / $size;
    background-size: cover;
    background-image: url(#{$url});
    background-position: $position;
    transform-origin: 0 0;
    transform: scale($size);
    filter: blur($blur * 1px);
    opacity: 1 - $darkness;
  }
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[ui-fx~="blur1"] {
  filter: blur(1px);
}
[ui-fx~="blur2"] {
  filter: blur(2px);
}
[ui-fx~="dark50%"] {
  opacity: 0.5;
}

.gif-2012 {
  @include background-gif('../images/2012.gif');
}

.gif-shocked {
  @include background-gif('../images/shocked.gif');
  //@include background-gif('http://i.imgur.com/HlwFoVG.gif');
}

.gif-skull {
  background: url('../images/an_spinning_flaming_skull.gif');
}

.gif-skull-2 {
  background: url('../images/an_spinning_flaming_skull.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.fact {
  @include background-gif('../images/carl_sagan_good.gif',
                          $darkness: 0.6, $blur: 0, $size: 1)
}

.not-sure-if-right {
  //@include background-gif('http://media.giphy.com/media/Br5rWtM1QiYBa/giphy.gif')
  @include background-gif('../images/shaking_head_breaking_bad.gif',
                          $position: 80% 0%, $blur: 0, $size: 1)
}

.thumbsup {
  @include background-gif('../images/emoji-thumbs-up-150.jpg',
                          $darkness: 0.8, $blur: 0, $size: 1)
}

.amazed {
  @include background-gif('../images/amazed.gif',
                          $darkness: 0, $blur: 0.5, $size: 3)
}

.okthen {
  @include background-gif('../images/okthen.gif')
}

.black {
  background-color: black;
}

.light {
  background-color: #001F3F;
}

.yeahnah {
  @include background-gif("../images/yeahnah.gif", $darkness: 0, $blur: 0.5, $position: 100% 50%);
}

.yep {
  @include background-gif("../images/yep.gif", $darkness: 0, $blur: 0.5);
}

.disgunbgood {
  @include background-gif("../images/disgunbgood.gif", $darkness: 0, $blur: 0, $size: 1);
}

.ticked {
  @include background-gif("../images/ticked.gif");
}

.homescreen {
  @include background-gif("/images/mtnwest.gif");
}

.chrome {
  @include background-gif("/images/chrome.jpg", $position: 50% 20%);
}

.vulcan {
  @include background-gif("/images/vulcan_gladiator.jpg", $position: 50% 10%);
  &::before {
    background-size: contain;
    background-repeat: no-repeat;
  }
}
