// variables!

$slide_width: 640px;
$slide_height: 480px;
$slide_background: #eaeaea;

$slide_transition_length: 0.6s;
$slide_transition_easing: ease;
$slide_transition_rotate_y: 90deg;

// Safari bugs out on 3d transform-origins, so we have to fake it
$slide_transition_nudge_x: -100px;

$bullet_transition_length: 0.3s;
$bullet_transition_easing: ease;
$bullet_transition_translate_x: 16px;

// base

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
}

@page {
  size: landscape;
  margin: 0;
}


// bespoke.js layout styles

article {
  transition: background slide_transition_length slide_transition_easing;
  display: none;
  &.bespoke-parent {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    @media print {
      overflow: visible;
      position: static;
    }
    perspective: 600px;
  }
}

.bespoke-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: $slide_width;
  height: $slide_height;
  position: absolute;
  top: 50%;
  margin-top: $slide_height / 2 * -1;
  left: 50%;
  margin-left: $slide_width / 2 * -1;
  padding: 40px;
  border-radius: 0;
  @media print {
    zoom: 1 !important;
    height: 743px;
    width: 100%;
    page-break-before: always;
    position: static;
    margin: 0;
  }
}

.bespoke-inactive {
  opacity: 0;
  pointer-events: none;
  @media print {
    opacity: 1;
  }
}

.bespoke-active {
  opacity: 1;
}

// bespoke-scale styles

.bespoke-scale-parent {
  perspective: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @media print {
    transform: none !important;
  }
}

// bespoke-state styles

.emphatic,
.emphatic .bespoke-slide {
  background: $slide_background;
}

// prism styles

pre {
  padding: 26px !important;
  border-radius: 8px;
}

// content styles

body {
  transition: opacity 0.5s;
  font: 18px/1.5 brandon-grotesque, helvetica, arial, sans-serif;
  font-weight: 300;
  background-color: change-color(black, $alpha: 0.90);
  color: change-color(white, $alpha: 0.95);
  text-shadow: 0 0 2px black, 0 0 40px black;
  :root.wf-loading & {
    transition: none;
    opacity: 0;
  }
}

h1 {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -2px;
  margin: 16px 0;
  font-weight: 900;
}

.mid {
  font-size: 36px;
  font-family: adobe-jenson-pro, Georgia;
  font-style: italic;
  display: flex;
  width: 100%;
  align-items: center;
  &::before,
  &::after {
    content: '';
    flex-grow: 3;
    display: block;
    border-top: dotted 1px rgba(white, 0.3);
  }
  &::before { margin-right: 16px; }
  &::after { margin-left: 16px; }
}

$me-height: 72px;
.me {
  height: $me-height;
  width: $me-height;
  background: url("../images/me_headshot.jpg") no-repeat;
  background-size: $me-height;
  border-radius: 50%;
  box-shadow: 0 0 0 2px black, 0 0 0 3px white;
  margin: 0 16px;
}

.line {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -2px;
  margin: 16px 0;
}

h2 {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -2px;
  margin: 16px 0;
  font-weight: 300;
}

h3 {
  font-size: 48px;
  font-weight: 300;
  margin: 16px 0;
}

hr {
  visibility: hidden;
  height: 20px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 12px;
}

p {
  margin: 0 100px 12px;
  line-height: 22px;
}

a {
  color: #0089f3;
  text-decoration: none;
}
