// variables!

$slide_width: 640px;
$slide_height: 480px;
$slide_background: #eaeaea;

$slide_transition_length: 0.6s;
$slide_transition_easing: ease;
$slide_transition_rotate_y: 90deg;

// Safari bugs out on 3d transform-origins, so we have to fake it
$slide_transition_nudge_x: -100px;

$bullet_transition_length: 0.3s;
$bullet_transition_easing: ease;
$bullet_transition_translate_x: 16px;

// base

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
}

@page {
  size: landscape;
  margin: 0;
}

[data-red] {
  color: red;
}


// bespoke.js layout styles

article {
  transition: background slide_transition_length slide_transition_easing;
  display: none;
  &.bespoke-parent {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    @media print {
      overflow: visible;
      position: static;
    }
    perspective: 600px;
  }
}

.bespoke-slide {
  &.content,
  > .content {
    //background-color: rgba(white, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: $slide_width;
    height: $slide_height;
    position: absolute;
    top: 50%;
    margin-top: $slide_height / 2 * -1;
    left: 50%;
    margin-left: $slide_width / 2 * -1;
    padding: 40px;
    border-radius: 0;

    @for $i from 1 through 20 {
      > *:nth-child(#{$i}) {
        transition: opacity 0.6s 0.4s * ($i - 1);
        transform: translateZ(0);
      }
    }
    &.nobuild > * {
      transition: none;
    }
    &.wait-for-gif {
      opacity: 0;
    }
    .fadeout {
      transition: opacity 2s 2s;
      opacity: 1;
    }
  }
  &.x-gif-finished .content.wait-for-gif {
    opacity: 1;
  }


  @media print {
    zoom: 1 !important;
    height: 743px;
    width: 100%;
    page-break-before: always;
    position: static;
    margin: 0;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    pointer-events: none;
    transition: -webkit-transform 5s 5s;
    &.x10 {
      height: 1000%;
      &.scrolldown {
        transform: translateY(-90%);
      }
    }
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }

  .bespoke-bullet {
    transition-delay: 0;
  }
  .bespoke-bullet-inactive {
    opacity: 0;
  }
}

.bespoke-inactive {
  opacity: 0;
  pointer-events: none;
  @media print {
    opacity: 1;
  }
  iframe {
    display: none;
  }
}

.bespoke-active {
  opacity: 1;

  &.content,
  > .content {
    .buildin {
      opacity: 1;
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          transition: opacity 0.3s 0.1s * $i + 0.2s;
          transform: translateZ(0);
        }
      }
    }

    .fadeout {
      opacity: 0.2;
    }
  }
}

.bespoke-after {
  &.content,
  > .content {
    > * {
      opacity: 0;
      transition: none !important;
    }
    .buildin {
      opacity: 0;
    }
  }
}

// bespoke-scale styles

.bespoke-scale-parent {
  perspective: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @media print {
    transform: none !important;
  }
}

// bespoke-state styles

.emphatic,
.emphatic .bespoke-slide {
  background: $slide_background;
}

// prism styles

pre {
  border-radius: 8px;
}
$shadow: black;

// content styles

$background-line-color: rgba(white,0.02);
$background-patch-color: rgba(black, 0.05);
body {
  transition: opacity 0.5s;
  font: 18px/1.5 "Raleway", georgia, helvetica, arial, sans-serif;
  font-weight: 100;
  background-color: change-color(black, $alpha: 0.90);
  color: change-color(white, $alpha: 0.95);
  text-shadow: 0 0 2px black, 0 0 40px black;
  :root.wf-loading & {
    transition: none;
    opacity: 0;
  }
}

h1 {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -2px;
  margin: 16px 0;
  font-weight: 900;
  //text-shadow: 1px 1px 0 $shadow, 2px 2px 0 $shadow, 3px 3px 0 $shadow, 4px 4px 0 $shadow, 5px 5px 0 $shadow, 6px 6px 0 $shadow, 7px 7px 0 $shadow, 8px 8px 0 $shadow, 9px 9px 0 $shadow, 10px 10px 0 $shadow, 11px 11px 0 $shadow, 12px 12px 0 $shadow, 13px 13px 0 $shadow, 14px 14px 0 $shadow, 15px 15px 0 $shadow, 16px 16px 0 $shadow, 17px 17px 0 $shadow, 18px 18px 0 $shadow, 19px 19px 0 $shadow, 20px 20px 0 $shadow, 21px 21px 0 $shadow, 22px 22px 0 $shadow, 23px 23px 0 $shadow, 24px 24px 0 $shadow, 25px 25px 0 $shadow, 26px 26px 0 $shadow, 27px 27px 0 $shadow, 28px 28px 0 $shadow, 29px 29px 0 $shadow, 30px 30px 0 $shadow, 31px 31px 0 $shadow, 32px 32px 0 $shadow, 33px 33px 0 $shadow, 34px 34px 0 $shadow, 35px 35px 0 $shadow, 36px 36px 0 $shadow, 37px 37px 0 $shadow, 38px 38px 0 $shadow, 39px 39px 0 $shadow, 40px 40px 0 $shadow, 41px 41px 0 $shadow, 42px 42px 0 $shadow, 43px 43px 0 $shadow, 44px 44px 0 $shadow, 45px 45px 0 $shadow, 46px 46px 0 $shadow, 47px 47px 0 $shadow, 48px 48px 0 $shadow, 49px 49px 0 $shadow, 50px 50px 0 $shadow, 51px 51px 0 $shadow, 52px 52px 0 $shadow, 53px 53px 0 $shadow, 54px 54px 0 $shadow, 55px 55px 0 $shadow, 56px 56px 0 $shadow, 57px 57px 0 $shadow, 58px 58px 0 $shadow, 59px 59px 0 $shadow, 60px 60px 0 $shadow, 61px 61px 0 $shadow, 62px 62px 0 $shadow, 63px 63px 0 $shadow, 64px 64px 0 $shadow, 65px 65px 0 $shadow, 66px 66px 0 $shadow, 67px 67px 0 $shadow, 68px 68px 0 $shadow, 69px 69px 0 $shadow, 70px 70px 0 $shadow, 71px 71px 0 $shadow, 72px 72px 0 $shadow, 73px 73px 0 $shadow, 74px 74px 0 $shadow, 75px 75px 0 $shadow, 76px 76px 0 $shadow, 77px 77px 0 $shadow, 78px 78px 0 $shadow, 79px 79px 0 $shadow, 80px 80px 0 $shadow, 81px 81px 0 $shadow, 82px 82px 0 $shadow, 83px 83px 0 $shadow, 84px 84px 0 $shadow, 85px 85px 0 $shadow, 86px 86px 0 $shadow, 87px 87px 0 $shadow, 88px 88px 0 $shadow, 89px 89px 0 $shadow, 90px 90px 0 $shadow, 91px 91px 0 $shadow, 92px 92px 0 $shadow, 93px 93px 0 $shadow, 94px 94px 0 $shadow, 95px 95px 0 $shadow, 96px 96px 0 $shadow, 97px 97px 0 $shadow, 98px 98px 0 $shadow, 99px 99px 0 $shadow, 100px 100px 0 $shadow, 101px 101px 0 $shadow, 102px 102px 0 $shadow, 103px 103px 0 $shadow, 104px 104px 0 $shadow, 105px 105px 0 $shadow, 106px 106px 0 $shadow, 107px 107px 0 $shadow, 108px 108px 0 $shadow, 109px 109px 0 $shadow, 110px 110px 0 $shadow, 111px 111px 0 $shadow, 112px 112px 0 $shadow, 113px 113px 0 $shadow, 114px 114px 0 $shadow, 115px 115px 0 $shadow, 116px 116px 0 $shadow, 117px 117px 0 $shadow, 118px 118px 0 $shadow, 119px 119px 0 $shadow, 120px 120px 0 $shadow, 121px 121px 0 $shadow, 122px 122px 0 $shadow, 123px 123px 0 $shadow, 124px 124px 0 $shadow, 125px 125px 0 $shadow, 126px 126px 0 $shadow, 127px 127px 0 $shadow, 128px 128px 0 $shadow, 129px 129px 0 $shadow, 130px 130px 0 $shadow, 131px 131px 0 $shadow, 132px 132px 0 $shadow, 133px 133px 0 $shadow, 134px 134px 0 $shadow, 135px 135px 0 $shadow, 136px 136px 0 $shadow, 137px 137px 0 $shadow, 138px 138px 0 $shadow, 139px 139px 0 $shadow, 140px 140px 0 $shadow, 141px 141px 0 $shadow, 142px 142px 0 $shadow, 143px 143px 0 $shadow, 144px 144px 0 $shadow, 145px 145px 0 $shadow, 146px 146px 0 $shadow, 147px 147px 0 $shadow, 148px 148px 0 $shadow, 149px 149px 0 $shadow, 150px 150px 0 $shadow, 151px 151px 0 $shadow, 152px 152px 0 $shadow, 153px 153px 0 $shadow, 154px 154px 0 $shadow, 155px 155px 0 $shadow, 156px 156px 0 $shadow, 157px 157px 0 $shadow, 158px 158px 0 $shadow, 159px 159px 0 $shadow, 160px 160px 0 $shadow, 161px 161px 0 $shadow, 162px 162px 0 $shadow, 163px 163px 0 $shadow, 164px 164px 0 $shadow, 165px 165px 0 $shadow, 166px 166px 0 $shadow, 167px 167px 0 $shadow, 168px 168px 0 $shadow, 169px 169px 0 $shadow, 170px 170px 0 $shadow, 171px 171px 0 $shadow, 172px 172px 0 $shadow, 173px 173px 0 $shadow, 174px 174px 0 $shadow, 175px 175px 0 $shadow, 176px 176px 0 $shadow, 177px 177px 0 $shadow, 178px 178px 0 $shadow, 179px 179px 0 $shadow, 180px 180px 0 $shadow, 181px 181px 0 $shadow, 182px 182px 0 $shadow, 183px 183px 0 $shadow, 184px 184px 0 $shadow, 185px 185px 0 $shadow, 186px 186px 0 $shadow, 187px 187px 0 $shadow, 188px 188px 0 $shadow, 189px 189px 0 $shadow, 190px 190px 0 $shadow, 191px 191px 0 $shadow, 192px 192px 0 $shadow, 193px 193px 0 $shadow, 194px 194px 0 $shadow, 195px 195px 0 $shadow, 196px 196px 0 $shadow, 197px 197px 0 $shadow, 198px 198px 0 $shadow, 199px 199px 0 $shadow, 200px 200px 0 $shadow, 201px 201px 0 $shadow, 202px 202px 0 $shadow, 203px 203px 0 $shadow, 204px 204px 0 $shadow, 205px 205px 0 $shadow, 206px 206px 0 $shadow, 207px 207px 0 $shadow, 208px 208px 0 $shadow, 209px 209px 0 $shadow, 210px 210px 0 $shadow, 211px 211px 0 $shadow, 212px 212px 0 $shadow, 213px 213px 0 $shadow, 214px 214px 0 $shadow, 215px 215px 0 $shadow, 216px 216px 0 $shadow, 217px 217px 0 $shadow, 218px 218px 0 $shadow, 219px 219px 0 $shadow, 220px 220px 0 $shadow, 221px 221px 0 $shadow, 222px 222px 0 $shadow, 223px 223px 0 $shadow, 224px 224px 0 $shadow, 225px 225px 0 $shadow, 226px 226px 0 $shadow, 227px 227px 0 $shadow, 228px 228px 0 $shadow, 229px 229px 0 $shadow, 230px 230px 0 $shadow, 231px 231px 0 $shadow, 232px 232px 0 $shadow, 233px 233px 0 $shadow, 234px 234px 0 $shadow, 235px 235px 0 $shadow, 236px 236px 0 $shadow, 237px 237px 0 $shadow, 238px 238px 0 $shadow, 239px 239px 0 $shadow, 240px 240px 0 $shadow, 241px 241px 0 $shadow, 242px 242px 0 $shadow, 243px 243px 0 $shadow, 244px 244px 0 $shadow, 245px 245px 0 $shadow, 246px 246px 0 $shadow, 247px 247px 0 $shadow, 248px 248px 0 $shadow, 249px 249px 0 $shadow, 250px 250px 0 $shadow, 251px 251px 0 $shadow, 252px 252px 0 $shadow, 253px 253px 0 $shadow, 254px 254px 0 $shadow, 255px 255px 0 $shadow, 256px 256px 0 $shadow, 257px 257px 0 $shadow, 258px 258px 0 $shadow, 259px 259px 0 $shadow, 260px 260px 0 $shadow, 261px 261px 0 $shadow, 262px 262px 0 $shadow, 263px 263px 0 $shadow, 264px 264px 0 $shadow, 265px 265px 0 $shadow, 266px 266px 0 $shadow, 267px 267px 0 $shadow, 268px 268px 0 $shadow, 269px 269px 0 $shadow, 270px 270px 0 $shadow, 271px 271px 0 $shadow, 272px 272px 0 $shadow, 273px 273px 0 $shadow, 274px 274px 0 $shadow, 275px 275px 0 $shadow, 276px 276px 0 $shadow, 277px 277px 0 $shadow, 278px 278px 0 $shadow, 279px 279px 0 $shadow, 280px 280px 0 $shadow, 281px 281px 0 $shadow, 282px 282px 0 $shadow, 283px 283px 0 $shadow, 284px 284px 0 $shadow, 285px 285px 0 $shadow, 286px 286px 0 $shadow, 287px 287px 0 $shadow, 288px 288px 0 $shadow, 289px 289px 0 $shadow, 290px 290px 0 $shadow, 291px 291px 0 $shadow, 292px 292px 0 $shadow, 293px 293px 0 $shadow, 294px 294px 0 $shadow, 295px 295px 0 $shadow, 296px 296px 0 $shadow, 297px 297px 0 $shadow, 298px 298px 0 $shadow, 299px 299px 0 $shadow, 300px 300px 0 $shadow, 301px 301px 0 $shadow, 302px 302px 0 $shadow, 303px 303px 0 $shadow, 304px 304px 0 $shadow, 305px 305px 0 $shadow, 306px 306px 0 $shadow, 307px 307px 0 $shadow, 308px 308px 0 $shadow, 309px 309px 0 $shadow, 310px 310px 0 $shadow, 311px 311px 0 $shadow, 312px 312px 0 $shadow, 313px 313px 0 $shadow, 314px 314px 0 $shadow, 315px 315px 0 $shadow, 316px 316px 0 $shadow, 317px 317px 0 $shadow, 318px 318px 0 $shadow, 319px 319px 0 $shadow, 320px 320px 0 $shadow, 321px 321px 0 $shadow, 322px 322px 0 $shadow, 323px 323px 0 $shadow, 324px 324px 0 $shadow, 325px 325px 0 $shadow, 326px 326px 0 $shadow, 327px 327px 0 $shadow, 328px 328px 0 $shadow, 329px 329px 0 $shadow, 330px 330px 0 $shadow, 331px 331px 0 $shadow, 332px 332px 0 $shadow, 333px 333px 0 $shadow, 334px 334px 0 $shadow, 335px 335px 0 $shadow, 336px 336px 0 $shadow, 337px 337px 0 $shadow, 338px 338px 0 $shadow, 339px 339px 0 $shadow, 340px 340px 0 $shadow, 341px 341px 0 $shadow, 342px 342px 0 $shadow, 343px 343px 0 $shadow, 344px 344px 0 $shadow, 345px 345px 0 $shadow, 346px 346px 0 $shadow, 347px 347px 0 $shadow, 348px 348px 0 $shadow, 349px 349px 0 $shadow, 350px 350px 0 $shadow, 351px 351px 0 $shadow, 352px 352px 0 $shadow, 353px 353px 0 $shadow, 354px 354px 0 $shadow, 355px 355px 0 $shadow, 356px 356px 0 $shadow, 357px 357px 0 $shadow, 358px 358px 0 $shadow, 359px 359px 0 $shadow, 360px 360px 0 $shadow, 361px 361px 0 $shadow, 362px 362px 0 $shadow, 363px 363px 0 $shadow, 364px 364px 0 $shadow, 365px 365px 0 $shadow, 366px 366px 0 $shadow, 367px 367px 0 $shadow, 368px 368px 0 $shadow, 369px 369px 0 $shadow, 370px 370px 0 $shadow, 371px 371px 0 $shadow, 372px 372px 0 $shadow, 373px 373px 0 $shadow, 374px 374px 0 $shadow, 375px 375px 0 $shadow, 376px 376px 0 $shadow, 377px 377px 0 $shadow, 378px 378px 0 $shadow, 379px 379px 0 $shadow, 380px 380px 0 $shadow, 381px 381px 0 $shadow, 382px 382px 0 $shadow, 383px 383px 0 $shadow, 384px 384px 0 $shadow, 385px 385px 0 $shadow, 386px 386px 0 $shadow, 387px 387px 0 $shadow, 388px 388px 0 $shadow, 389px 389px 0 $shadow, 390px 390px 0 $shadow, 391px 391px 0 $shadow, 392px 392px 0 $shadow, 393px 393px 0 $shadow, 394px 394px 0 $shadow, 395px 395px 0 $shadow, 396px 396px 0 $shadow, 397px 397px 0 $shadow, 398px 398px 0 $shadow, 399px 399px 0 $shadow, 400px 400px 0 $shadow, 401px 401px 0 $shadow, 402px 402px 0 $shadow, 403px 403px 0 $shadow, 404px 404px 0 $shadow, 405px 405px 0 $shadow, 406px 406px 0 $shadow, 407px 407px 0 $shadow, 408px 408px 0 $shadow, 409px 409px 0 $shadow, 410px 410px 0 $shadow, 411px 411px 0 $shadow, 412px 412px 0 $shadow, 413px 413px 0 $shadow, 414px 414px 0 $shadow, 415px 415px 0 $shadow, 416px 416px 0 $shadow, 417px 417px 0 $shadow, 418px 418px 0 $shadow, 419px 419px 0 $shadow, 420px 420px 0 $shadow, 421px 421px 0 $shadow, 422px 422px 0 $shadow, 423px 423px 0 $shadow, 424px 424px 0 $shadow, 425px 425px 0 $shadow, 426px 426px 0 $shadow, 427px 427px 0 $shadow, 428px 428px 0 $shadow, 429px 429px 0 $shadow, 430px 430px 0 $shadow, 431px 431px 0 $shadow, 432px 432px 0 $shadow, 433px 433px 0 $shadow, 434px 434px 0 $shadow, 435px 435px 0 $shadow, 436px 436px 0 $shadow, 437px 437px 0 $shadow, 438px 438px 0 $shadow, 439px 439px 0 $shadow, 440px 440px 0 $shadow, 441px 441px 0 $shadow, 442px 442px 0 $shadow, 443px 443px 0 $shadow, 444px 444px 0 $shadow, 445px 445px 0 $shadow, 446px 446px 0 $shadow, 447px 447px 0 $shadow, 448px 448px 0 $shadow, 449px 449px 0 $shadow, 450px 450px 0 $shadow, 451px 451px 0 $shadow, 452px 452px 0 $shadow, 453px 453px 0 $shadow, 454px 454px 0 $shadow, 455px 455px 0 $shadow, 456px 456px 0 $shadow, 457px 457px 0 $shadow, 458px 458px 0 $shadow, 459px 459px 0 $shadow, 460px 460px 0 $shadow, 461px 461px 0 $shadow, 462px 462px 0 $shadow, 463px 463px 0 $shadow, 464px 464px 0 $shadow, 465px 465px 0 $shadow, 466px 466px 0 $shadow, 467px 467px 0 $shadow, 468px 468px 0 $shadow, 469px 469px 0 $shadow, 470px 470px 0 $shadow, 471px 471px 0 $shadow, 472px 472px 0 $shadow, 473px 473px 0 $shadow, 474px 474px 0 $shadow, 475px 475px 0 $shadow, 476px 476px 0 $shadow, 477px 477px 0 $shadow, 478px 478px 0 $shadow, 479px 479px 0 $shadow, 480px 480px 0 $shadow, 481px 481px 0 $shadow, 482px 482px 0 $shadow, 483px 483px 0 $shadow, 484px 484px 0 $shadow, 485px 485px 0 $shadow, 486px 486px 0 $shadow, 487px 487px 0 $shadow, 488px 488px 0 $shadow, 489px 489px 0 $shadow, 490px 490px 0 $shadow, 491px 491px 0 $shadow, 492px 492px 0 $shadow, 493px 493px 0 $shadow, 494px 494px 0 $shadow, 495px 495px 0 $shadow, 496px 496px 0 $shadow, 497px 497px 0 $shadow, 498px 498px 0 $shadow, 499px 499px 0 $shadow, 500px 500px 0 $shadow, 501px 501px 0 $shadow, 502px 502px 0 $shadow, 503px 503px 0 $shadow, 504px 504px 0 $shadow, 505px 505px 0 $shadow, 506px 506px 0 $shadow, 507px 507px 0 $shadow, 508px 508px 0 $shadow, 509px 509px 0 $shadow, 510px 510px 0 $shadow, 511px 511px 0 $shadow, 512px 512px 0 $shadow, 513px 513px 0 $shadow, 514px 514px 0 $shadow, 515px 515px 0 $shadow, 516px 516px 0 $shadow, 517px 517px 0 $shadow, 518px 518px 0 $shadow, 519px 519px 0 $shadow, 520px 520px 0 $shadow, 521px 521px 0 $shadow, 522px 522px 0 $shadow, 523px 523px 0 $shadow, 524px 524px 0 $shadow, 525px 525px 0 $shadow, 526px 526px 0 $shadow, 527px 527px 0 $shadow, 528px 528px 0 $shadow, 529px 529px 0 $shadow, 530px 530px 0 $shadow, 531px 531px 0 $shadow, 532px 532px 0 $shadow, 533px 533px 0 $shadow, 534px 534px 0 $shadow, 535px 535px 0 $shadow, 536px 536px 0 $shadow, 537px 537px 0 $shadow, 538px 538px 0 $shadow, 539px 539px 0 $shadow, 540px 540px 0 $shadow, 541px 541px 0 $shadow, 542px 542px 0 $shadow, 543px 543px 0 $shadow, 544px 544px 0 $shadow, 545px 545px 0 $shadow, 546px 546px 0 $shadow, 547px 547px 0 $shadow, 548px 548px 0 $shadow, 549px 549px 0 $shadow, 550px 550px 0 $shadow, 551px 551px 0 $shadow, 552px 552px 0 $shadow, 553px 553px 0 $shadow, 554px 554px 0 $shadow, 555px 555px 0 $shadow, 556px 556px 0 $shadow, 557px 557px 0 $shadow, 558px 558px 0 $shadow, 559px 559px 0 $shadow, 560px 560px 0 $shadow, 561px 561px 0 $shadow, 562px 562px 0 $shadow, 563px 563px 0 $shadow, 564px 564px 0 $shadow, 565px 565px 0 $shadow, 566px 566px 0 $shadow, 567px 567px 0 $shadow, 568px 568px 0 $shadow, 569px 569px 0 $shadow, 570px 570px 0 $shadow, 571px 571px 0 $shadow, 572px 572px 0 $shadow, 573px 573px 0 $shadow, 574px 574px 0 $shadow, 575px 575px 0 $shadow, 576px 576px 0 $shadow, 577px 577px 0 $shadow, 578px 578px 0 $shadow, 579px 579px 0 $shadow, 580px 580px 0 $shadow, 581px 581px 0 $shadow, 582px 582px 0 $shadow, 583px 583px 0 $shadow, 584px 584px 0 $shadow, 585px 585px 0 $shadow, 586px 586px 0 $shadow, 587px 587px 0 $shadow, 588px 588px 0 $shadow, 589px 589px 0 $shadow, 590px 590px 0 $shadow, 591px 591px 0 $shadow, 592px 592px 0 $shadow, 593px 593px 0 $shadow, 594px 594px 0 $shadow, 595px 595px 0 $shadow, 596px 596px 0 $shadow, 597px 597px 0 $shadow, 598px 598px 0 $shadow, 599px 599px 0 $shadow, 600px 600px 0 $shadow, 601px 601px 0 $shadow, 602px 602px 0 $shadow, 603px 603px 0 $shadow, 604px 604px 0 $shadow, 605px 605px 0 $shadow, 606px 606px 0 $shadow, 607px 607px 0 $shadow, 608px 608px 0 $shadow, 609px 609px 0 $shadow, 610px 610px 0 $shadow, 611px 611px 0 $shadow, 612px 612px 0 $shadow, 613px 613px 0 $shadow, 614px 614px 0 $shadow, 615px 615px 0 $shadow, 616px 616px 0 $shadow, 617px 617px 0 $shadow, 618px 618px 0 $shadow, 619px 619px 0 $shadow, 620px 620px 0 $shadow, 621px 621px 0 $shadow, 622px 622px 0 $shadow, 623px 623px 0 $shadow, 624px 624px 0 $shadow, 625px 625px 0 $shadow, 626px 626px 0 $shadow, 627px 627px 0 $shadow, 628px 628px 0 $shadow, 629px 629px 0 $shadow, 630px 630px 0 $shadow, 631px 631px 0 $shadow, 632px 632px 0 $shadow, 633px 633px 0 $shadow, 634px 634px 0 $shadow, 635px 635px 0 $shadow, 636px 636px 0 $shadow, 637px 637px 0 $shadow, 638px 638px 0 $shadow, 639px 639px 0 $shadow, 640px 640px 0 $shadow, 641px 641px 0 $shadow, 642px 642px 0 $shadow, 643px 643px 0 $shadow, 644px 644px 0 $shadow, 645px 645px 0 $shadow, 646px 646px 0 $shadow, 647px 647px 0 $shadow, 648px 648px 0 $shadow, 649px 649px 0 $shadow, 650px 650px 0 $shadow, 651px 651px 0 $shadow, 652px 652px 0 $shadow, 653px 653px 0 $shadow, 654px 654px 0 $shadow, 655px 655px 0 $shadow, 656px 656px 0 $shadow, 657px 657px 0 $shadow, 658px 658px 0 $shadow, 659px 659px 0 $shadow, 660px 660px 0 $shadow, 661px 661px 0 $shadow, 662px 662px 0 $shadow, 663px 663px 0 $shadow, 664px 664px 0 $shadow, 665px 665px 0 $shadow, 666px 666px 0 $shadow, 667px 667px 0 $shadow, 668px 668px 0 $shadow, 669px 669px 0 $shadow, 670px 670px 0 $shadow, 671px 671px 0 $shadow, 672px 672px 0 $shadow, 673px 673px 0 $shadow, 674px 674px 0 $shadow, 675px 675px 0 $shadow, 676px 676px 0 $shadow, 677px 677px 0 $shadow, 678px 678px 0 $shadow, 679px 679px 0 $shadow, 680px 680px 0 $shadow, 681px 681px 0 $shadow, 682px 682px 0 $shadow, 683px 683px 0 $shadow, 684px 684px 0 $shadow, 685px 685px 0 $shadow, 686px 686px 0 $shadow, 687px 687px 0 $shadow, 688px 688px 0 $shadow, 689px 689px 0 $shadow, 690px 690px 0 $shadow, 691px 691px 0 $shadow, 692px 692px 0 $shadow, 693px 693px 0 $shadow, 694px 694px 0 $shadow, 695px 695px 0 $shadow, 696px 696px 0 $shadow, 697px 697px 0 $shadow, 698px 698px 0 $shadow, 699px 699px 0 $shadow, 700px 700px 0 $shadow, 701px 701px 0 $shadow, 702px 702px 0 $shadow, 703px 703px 0 $shadow, 704px 704px 0 $shadow, 705px 705px 0 $shadow, 706px 706px 0 $shadow, 707px 707px 0 $shadow, 708px 708px 0 $shadow, 709px 709px 0 $shadow, 710px 710px 0 $shadow, 711px 711px 0 $shadow, 712px 712px 0 $shadow, 713px 713px 0 $shadow, 714px 714px 0 $shadow, 715px 715px 0 $shadow, 716px 716px 0 $shadow, 717px 717px 0 $shadow, 718px 718px 0 $shadow, 719px 719px 0 $shadow, 720px 720px 0 $shadow, 721px 721px 0 $shadow, 722px 722px 0 $shadow, 723px 723px 0 $shadow, 724px 724px 0 $shadow, 725px 725px 0 $shadow, 726px 726px 0 $shadow, 727px 727px 0 $shadow, 728px 728px 0 $shadow, 729px 729px 0 $shadow, 730px 730px 0 $shadow, 731px 731px 0 $shadow, 732px 732px 0 $shadow, 733px 733px 0 $shadow, 734px 734px 0 $shadow, 735px 735px 0 $shadow, 736px 736px 0 $shadow, 737px 737px 0 $shadow, 738px 738px 0 $shadow, 739px 739px 0 $shadow, 740px 740px 0 $shadow, 741px 741px 0 $shadow, 742px 742px 0 $shadow, 743px 743px 0 $shadow, 744px 744px 0 $shadow, 745px 745px 0 $shadow, 746px 746px 0 $shadow, 747px 747px 0 $shadow, 748px 748px 0 $shadow, 749px 749px 0 $shadow, 750px 750px 0 $shadow, 751px 751px 0 $shadow, 752px 752px 0 $shadow, 753px 753px 0 $shadow, 754px 754px 0 $shadow, 755px 755px 0 $shadow, 756px 756px 0 $shadow, 757px 757px 0 $shadow, 758px 758px 0 $shadow, 759px 759px 0 $shadow, 760px 760px 0 $shadow, 761px 761px 0 $shadow, 762px 762px 0 $shadow, 763px 763px 0 $shadow, 764px 764px 0 $shadow, 765px 765px 0 $shadow, 766px 766px 0 $shadow, 767px 767px 0 $shadow, 768px 768px 0 $shadow, 769px 769px 0 $shadow, 770px 770px 0 $shadow, 771px 771px 0 $shadow, 772px 772px 0 $shadow, 773px 773px 0 $shadow, 774px 774px 0 $shadow, 775px 775px 0 $shadow, 776px 776px 0 $shadow, 777px 777px 0 $shadow, 778px 778px 0 $shadow, 779px 779px 0 $shadow, 780px 780px 0 $shadow, 781px 781px 0 $shadow, 782px 782px 0 $shadow, 783px 783px 0 $shadow, 784px 784px 0 $shadow, 785px 785px 0 $shadow, 786px 786px 0 $shadow, 787px 787px 0 $shadow, 788px 788px 0 $shadow, 789px 789px 0 $shadow, 790px 790px 0 $shadow, 791px 791px 0 $shadow, 792px 792px 0 $shadow, 793px 793px 0 $shadow, 794px 794px 0 $shadow, 795px 795px 0 $shadow, 796px 796px 0 $shadow, 797px 797px 0 $shadow, 798px 798px 0 $shadow, 799px 799px 0 $shadow, 800px 800px 0 $shadow, 801px 801px 0 $shadow, 802px 802px 0 $shadow, 803px 803px 0 $shadow, 804px 804px 0 $shadow, 805px 805px 0 $shadow, 806px 806px 0 $shadow, 807px 807px 0 $shadow, 808px 808px 0 $shadow, 809px 809px 0 $shadow, 810px 810px 0 $shadow, 811px 811px 0 $shadow, 812px 812px 0 $shadow, 813px 813px 0 $shadow, 814px 814px 0 $shadow, 815px 815px 0 $shadow, 816px 816px 0 $shadow, 817px 817px 0 $shadow, 818px 818px 0 $shadow, 819px 819px 0 $shadow, 820px 820px 0 $shadow, 821px 821px 0 $shadow, 822px 822px 0 $shadow, 823px 823px 0 $shadow, 824px 824px 0 $shadow, 825px 825px 0 $shadow, 826px 826px 0 $shadow, 827px 827px 0 $shadow, 828px 828px 0 $shadow, 829px 829px 0 $shadow, 830px 830px 0 $shadow, 831px 831px 0 $shadow, 832px 832px 0 $shadow, 833px 833px 0 $shadow, 834px 834px 0 $shadow, 835px 835px 0 $shadow, 836px 836px 0 $shadow, 837px 837px 0 $shadow, 838px 838px 0 $shadow, 839px 839px 0 $shadow, 840px 840px 0 $shadow, 841px 841px 0 $shadow, 842px 842px 0 $shadow, 843px 843px 0 $shadow, 844px 844px 0 $shadow, 845px 845px 0 $shadow, 846px 846px 0 $shadow, 847px 847px 0 $shadow, 848px 848px 0 $shadow, 849px 849px 0 $shadow, 850px 850px 0 $shadow, 851px 851px 0 $shadow, 852px 852px 0 $shadow, 853px 853px 0 $shadow, 854px 854px 0 $shadow, 855px 855px 0 $shadow, 856px 856px 0 $shadow, 857px 857px 0 $shadow, 858px 858px 0 $shadow, 859px 859px 0 $shadow, 860px 860px 0 $shadow, 861px 861px 0 $shadow, 862px 862px 0 $shadow, 863px 863px 0 $shadow, 864px 864px 0 $shadow, 865px 865px 0 $shadow, 866px 866px 0 $shadow, 867px 867px 0 $shadow, 868px 868px 0 $shadow, 869px 869px 0 $shadow, 870px 870px 0 $shadow, 871px 871px 0 $shadow, 872px 872px 0 $shadow, 873px 873px 0 $shadow, 874px 874px 0 $shadow, 875px 875px 0 $shadow, 876px 876px 0 $shadow, 877px 877px 0 $shadow, 878px 878px 0 $shadow, 879px 879px 0 $shadow, 880px 880px 0 $shadow, 881px 881px 0 $shadow, 882px 882px 0 $shadow, 883px 883px 0 $shadow, 884px 884px 0 $shadow, 885px 885px 0 $shadow, 886px 886px 0 $shadow, 887px 887px 0 $shadow, 888px 888px 0 $shadow, 889px 889px 0 $shadow, 890px 890px 0 $shadow, 891px 891px 0 $shadow, 892px 892px 0 $shadow, 893px 893px 0 $shadow, 894px 894px 0 $shadow, 895px 895px 0 $shadow, 896px 896px 0 $shadow, 897px 897px 0 $shadow, 898px 898px 0 $shadow, 899px 899px 0 $shadow, 900px 900px 0 $shadow, 901px 901px 0 $shadow, 902px 902px 0 $shadow, 903px 903px 0 $shadow, 904px 904px 0 $shadow, 905px 905px 0 $shadow, 906px 906px 0 $shadow, 907px 907px 0 $shadow, 908px 908px 0 $shadow, 909px 909px 0 $shadow, 910px 910px 0 $shadow, 911px 911px 0 $shadow, 912px 912px 0 $shadow, 913px 913px 0 $shadow, 914px 914px 0 $shadow, 915px 915px 0 $shadow, 916px 916px 0 $shadow, 917px 917px 0 $shadow, 918px 918px 0 $shadow, 919px 919px 0 $shadow, 920px 920px 0 $shadow, 921px 921px 0 $shadow, 922px 922px 0 $shadow, 923px 923px 0 $shadow, 924px 924px 0 $shadow, 925px 925px 0 $shadow, 926px 926px 0 $shadow, 927px 927px 0 $shadow, 928px 928px 0 $shadow, 929px 929px 0 $shadow, 930px 930px 0 $shadow, 931px 931px 0 $shadow, 932px 932px 0 $shadow, 933px 933px 0 $shadow, 934px 934px 0 $shadow, 935px 935px 0 $shadow, 936px 936px 0 $shadow, 937px 937px 0 $shadow, 938px 938px 0 $shadow, 939px 939px 0 $shadow, 940px 940px 0 $shadow, 941px 941px 0 $shadow, 942px 942px 0 $shadow, 943px 943px 0 $shadow, 944px 944px 0 $shadow, 945px 945px 0 $shadow, 946px 946px 0 $shadow, 947px 947px 0 $shadow, 948px 948px 0 $shadow, 949px 949px 0 $shadow, 950px 950px 0 $shadow, 951px 951px 0 $shadow, 952px 952px 0 $shadow, 953px 953px 0 $shadow, 954px 954px 0 $shadow, 955px 955px 0 $shadow, 956px 956px 0 $shadow, 957px 957px 0 $shadow, 958px 958px 0 $shadow, 959px 959px 0 $shadow, 960px 960px 0 $shadow, 961px 961px 0 $shadow, 962px 962px 0 $shadow, 963px 963px 0 $shadow, 964px 964px 0 $shadow, 965px 965px 0 $shadow, 966px 966px 0 $shadow, 967px 967px 0 $shadow, 968px 968px 0 $shadow, 969px 969px 0 $shadow, 970px 970px 0 $shadow, 971px 971px 0 $shadow, 972px 972px 0 $shadow, 973px 973px 0 $shadow, 974px 974px 0 $shadow, 975px 975px 0 $shadow, 976px 976px 0 $shadow, 977px 977px 0 $shadow, 978px 978px 0 $shadow, 979px 979px 0 $shadow, 980px 980px 0 $shadow, 981px 981px 0 $shadow, 982px 982px 0 $shadow, 983px 983px 0 $shadow, 984px 984px 0 $shadow, 985px 985px 0 $shadow, 986px 986px 0 $shadow, 987px 987px 0 $shadow, 988px 988px 0 $shadow, 989px 989px 0 $shadow, 990px 990px 0 $shadow, 991px 991px 0 $shadow, 992px 992px 0 $shadow, 993px 993px 0 $shadow, 994px 994px 0 $shadow, 995px 995px 0 $shadow, 996px 996px 0 $shadow, 997px 997px 0 $shadow, 998px 998px 0 $shadow, 999px 999px 0 $shadow, 1000px 1000px 0 $shadow;
}

h2 {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -2px;
  margin: 16px 0;
  font-weight: 300;
}

h3 {
  font-size: 48px;
  font-weight: 300;
  margin: 16px 0;
}

h4 {
  font-size: 36px;
  font-weight: 700;
  margin: 16px 0;
}

h5 {
  font-size: 28px;
  font-weight: 700;
  margin: 16px 0;
}

h6 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

ul {
  font-size: 36px;
  font-weight: 700;
  list-style: none;
}

li {
  margin-bottom: 12px;
  text-align: left;
  width: 100%;
}

p {
  margin: 0 100px 12px;
  line-height: 22px;
}

a {
  color: #0089f3;
  text-decoration: none;
}

hr {
  border: none;
  border-top: dotted 1px rgba(white, 0.3);
  width: 100%;
  margin: 24px 0;
}
.mid {
  font-size: 36px;
  font-family: "EB Garamond", Georgia;
  font-style: italic;
  display: flex;
  width: 100%;
  align-items: center;
  &::before,
  &::after {
    content: '';
    flex-grow: 1;
    display: block;
    border-top: dotted 1px rgba(white, 0.3);
  }
  &::before { margin-right: 16px; }
  &::after { margin-left: 16px; }
}

$me-height: 72px;
.person {
  height: $me-height;
  width: $me-height;
  background-repeat: no-repeat;
  background-size: $me-height;
  background-position: 50% 50%;
  border-radius: 50%;
  box-shadow: 0 0 0 2px black, 0 0 0 3px white;
  margin: 0 16px;
}
.me {
  @extend .person;
  background-image: url("../images/me_headshot.jpg");
}
.schwarz {
  @extend .person;
  background-image: url("../images/ben.jpg");
}
.rtomayko {
  @extend .person;
  background-image: url("../images/rtomayko.png");
}
.bieber {
  @extend .person;
  background-image: url("../images/cheekbones.jpeg");
}
.josh {
  @extend .person;
  background-image: url("../images/nullobject.jpeg");
}
.ruthjohn {
  @extend .person;
  background-size: $me-height * 1.4;
  background-image: url("../images/ruth_john.jpeg");
}

.line {
  display: flex;
  align-items: center;
}

.leftalign {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: left;
}
.ta-left {
  width: 100%;
  text-align: left;
}

.nope {
  text-decoration: line-through;
}

.red {
  color: red;
}

.green {
  color: green;
}

$featColor: #39CCCC;
.feat {
  color: $featColor;
}
.featbang {
  color: $featColor !important;
}
.line-highlight {
  margin-top: 16px;
  background-color: rgba($featColor,0.2);
  border: none;
  &::before {
    display: none;
  }
}
pre[data-line] {
  padding: 1em;
}
pre.small {
  font-size: 0.85em;
}

.two-up {
  max-height: 40% !important;
  max-width: 100%;
}
img.smallish {
  max-height: 20%;
  transform: scale(1.8);
}

//.token.function {
//  color: lighten($featColor, 20%);
//  .punctuation {
//    color: white;
//    opacity: 0.7;
//  }
//}
//.token.class-name {
//  color: lighten($featColor, 20%);
//}

@import 'backgrounds';
@import 'fonts';
