doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title A GIF Odyssey

    link(rel='stylesheet', type='text/css', href='styles/styles.css')
    script.
      if ('registerElement' in document
        && 'createShadowRoot' in HTMLElement.prototype
        && 'import' in document.createElement('link')
        && 'content' in document.createElement('template')) {
        // We're using a browser with native WC support!
      } else {
        document.write('<script src="x-gif/dist/platform.js"><\/script>')
      }

  body
    article
      section
        .fullscreen(ui-fx="blur2")
          x-gif(src="images/stars.gif" fill speed="0.6" stopped)
        .content
          h1: small GIFs
          .mid vs
          h1: small Web Components
          .mid by
          .line
            .me
            h4 @GlenMaddern

      section
        .fullscreen(ui-fx="blur2")
          x-gif(src="images/stars.gif" fill speed="0.6" stopped)
        .content
          .mid A story in four parts

      section.content
        h3 Chapter One
        h1 The Idea

      section.content
        h1 VastImg

      section.content(data-bespoke-state='gif-skull-2')

      section.content
        h1 VastImg

      section
        .fullscreen(ui-fx="blur2")
          x-gif(src="images/shocked.gif" fill n-times="1" stopped)
        .content.wait-for-gif
          div
          h1 ETOOMUCHPORN

      section.content(data-bespoke-state='black')
        h1 GifCity
        .mid +
        h1 Tumblr
        .mid =
        h1
          img.smallish(src="images/heart.gif")

      section.content
        h4
          strong benschwarz.github.io/gifcity/?t=tumblrs,go,here

      section
        .content
          h2 mrdiv
        iframe(data-bespoke-delay-src='http://benschwarz.github.io/gifcity/?t=mrdiv')

      section
        .content
          h2 simpsonsgifs
        iframe(data-bespoke-delay-src='http://benschwarz.github.io/gifcity/?t=simpsonsgifs')

      section
        .content
          h2 skt-na-veia-sempre
        iframe(data-bespoke-delay-src='http://benschwarz.github.io/gifcity/?t=skt-na-veia-sempre')

      section.content
        h1.green ✔

      section
        .fullscreen(ui-fx="blur1")
          x-gif(src="images/takes_off_glasses.gif" fill n-times="1" stopped)

      section.content(data-bespoke-state='light')
        img(src="images/djgif_logo.gif")
        h1 DJGif
        h4 github.com/geelen/djgif
        h4 djgif.com
          span.feat  (soon)

      section.content.nobuild
        .mid Two challenges:
        ul
          li • Change speed of GIFs
          li.fadeout • Find beats from music
        hr

      section.content
        pre
          code.language-markup.
            &lt;img src="probably_cats.gif"&gt;
        pre
          code.language-javascript.
            var img = new Image;
            img.src = "definitely_cats.gif";
        h3 Now what?

      section.content
        h1.red ✖

      section.content
        .mid What is
        h3
          strong an animation
        .mid but a
        h3
          strong series of
            span.feat  frames
        .mid ?

      section.content
        h1 What's in a GIF?
        h5
          strong
            a(target="_blank" href='http://www.matthewflickinger.com/lab/whatsinagif/bits_and_bytes.asp') http://www.matthewflickinger.com/lab/ whatsinagif/bits_and_bytes.asp

      section.content
        img(src="images/gif_file_stream.gif")

      section.content
        h3
          strong header
        h3
          strong
            span.feat frame
            span.green  frame
            span.red  frame
        h3
          strong footer

      section.content
        h3
          strong header
            span.feat  frame
            |  footer
        h3
          strong header
            span.green  frame
            |  footer
        h3
          strong header
            span.red  frame
            |  footer

      seciton.content
        h1
          a(target="_blank" href="https://github.com/geelen/x-gif/blob/gh-pages/src/exploder.js") exploder.js

      section.content
        h4 Put the frames in the DOM
        pre
          code.language-markup.
            &lt;div data-frame="0"&gt;
              &lt;img src="frame0.gif"&gt;
              &lt;img src="frame1.gif"&gt;
              &lt;img src="frame2.gif"&gt;
            &lt;/div&gt;

      section.content
        h4 Show one at a time with CSS
        pre
          code.language-css.
            [data-frame] img {
              opacity: 0;
              position: absolute;
            }
            [data-frame="0"] img:nth-child(1),
            [data-frame="1"] img:nth-child(2),
            [data-frame="2"] img:nth-child(3) {
              opacity: 1;
            }

      section.content
        h4 Cycle through with JS
        pre
          code.language-javascript.
            var animate = function() {
              var currentFrame = calculateFrame();
              framesElement.dataset.frame = currentFrame;
              requestAnimationFrame(animate);
            }
            animate();

      section.content(data-bespoke-state='light')
        h3 Chapter Two
        h1 The Component

      section.content(data-bespoke-state='light')
        img(src="images/p-logo.svg")
        h1. &lt;x-gif&gt;
        h4 geelen.github.io/x-gif

      section.content(data-bespoke-state='light')
        h1 Dreamcode

      section.content(data-bespoke-state='light')
        pre: code.language-markup
          = "<img src='lulz.gif'>"
        pre: code.language-markup
          = "<x-gif src='lulz.gif'></x-gif>"

      section.content(data-bespoke-state='light')
        pre: code.language-javascript
          = "<x-gif\n  src=''\n  // Playback Modes\n  [speed='' || sync || bpm='']\n  // Playback options\n  stopped\n  fill\n  n-times=''\n  ping-pong\n  snap\n>"

      section.content(data-bespoke-state='light')
        h4: a(target="_blank" href="http://localhost:1983/") geelen.github.io/x-gif

      //section.content(data-bespoke-state='light')
      //  h6 &lt;img src="images/jump.gif"&gt;
      //  img.two-up(data-bespoke-delay-src="images/jump.gif")
      //  x-gif.two-up(src="images/jump.gif" stopped)
      //  h6 &lt;
      //    span.feat x-gif
      //    |  src="images/jump.gif"&gt;
      //
      //section.content(data-bespoke-state='light')
      //  h6 &lt;x-gif src="images/jump.gif"&gt;
      //  x-gif.two-up(src="images/jump.gif" speed="1" stopped)
      //  x-gif.two-up(src="images/jump.gif" speed="2" stopped)
      //  h6 &lt;x-gif src="images/jump.gif"
      //    span.feat  speed="2"
      //    | &gt;
      //
      //section.content(data-bespoke-state='light')
      //  h6 &lt;img src="images/waves.gif"&gt;
      //  img.two-up(src="images/waves.gif")
      //  img.two-up(src="images/vectors.gif")
      //  h6 &lt;img src="images/vectors.gif"&gt;
      //
      //section.content.nobuild(data-bespoke-state='light')
      //  h6 &lt;x-gif src="images/waves.gif"
      //    span.feat  bpm="140"
      //    | &gt;
      //  x-gif.two-up(src="images/waves.gif" bpm="140" stopped)
      //  x-gif.two-up(src="images/vectors.gif" bpm="140" stopped)
      //  h6 &lt;x-gif src="images/vectors.gif
      //    span.feat  bpm="140"
      //    | &gt;
      //
      //section.content.nobuild(data-bespoke-state='light' )
      //  h6 &lt;x-gif src="images/waves.gif"
      //    span.feat  hard-bpm="140"
      //    | &gt;
      //  x-gif.two-up(src="images/waves.gif" hard-bpm="140" stopped)
      //  x-gif.two-up(src="images/vectors.gif" hard-bpm="140" stopped)
      //  h6 &lt;x-gif src="images/vectors.gif
      //    span.feat  hard-bpm="140"
      //    | &gt;
      //
      //section.content.nobuild(data-bespoke-state='light')
      //  h6 &lt;x-gif src="images/jump.gif"
      //  x-gif.two-up(src="images/jump.gif" stopped)
      //  x-gif.two-up(src="images/jump.gif" ping-pong stopped)
      //  h6 &lt;x-gif src="images/jump.gif
      //    span.feat  ping-pong
      //    | &gt;
      //
      //section.content.nobuild(data-bespoke-state='light')
      //  h6 &lt;x-gif src="images/jump.gif"
      //    span.feat  n-times="1"
      //    | &gt;
      //  x-gif.two-up(src="images/jump.gif" n-times="1" stopped)
      //  x-gif.two-up(src="images/jump.gif" n-times="2" stopped)
      //  h6 &lt;x-gif src="images/jump.gif
      //    span.feat  n-times="2"
      //    | &gt;
      //
      //section
      //  .fullscreen
      //    x-gif(src="images/jump.gif" fill stopped)
      //  .content.nobuild(data-bespoke-state='light')
      //    h6 &lt;x-gif src="images/jump.gif"
      //      span.feat  fill
      //      | &gt;
      //
      //section.content(data-bespoke-state='light')
      //  img(src="images/p-logo.svg")
      //  h4 geelen.github.io/x-gif
      //  h4.feat The GIF tag the internet deserves

      section.content
        h3 Chapter Three
        h1 The Launch

      section.content
        img(src="images/x-gif_traffic.png")

      section.content
        h6 Polymer
        pre: code.
          platform.js - 50kb
          polymer.html - 1kb
          polymer.js - 23kb
          layout.html - 2kb
        h6
          br
          = "<x-gif>"
        pre: code.
          x-gif.html - 1kb
          x-gif.js - 11kb
          x-gif.css - 3kb
        h6
          br
          | 7 requests, 91kb total

      section.content(data-bespoke-state='black')
        h4 https://github.com/Polymer/vulcanize

      section.content.nobuild(data-bespoke-state="vulcan")
        h4 https://github.com/Polymer/vulcanize

      section.content
        pre: code.language-bash.
          vulcanize -o dist/x-gif.vulcan.html --inline dist/x-gif.html
        pre: code.
          platform.js - 50kb
          x-gif.vulcan.html - 34kb
        h6
          br
          | 7 requests, 91kb total

      section.content
        h4 Polymer
        ul
          li • Very much a framework
          li • Own mental model for structuring apps
          li • Easy to follow, but seemed orthogonal to my purpose

      section.content
        h4 What about Angular/Ember/React
        ul
          li • Custom elements without Web Components
          li • Provide common functionality (Promises, XHR)
          li • Why not use them?

      section.content
        h4 An idea!
        ul
          li • A framework-agnostic core, with adapters for each framework
          li • Consistent component API
          li • Bare minimum of dependencies for each framework
          li • One library, 4 entry points

      section.content
        h4 Superficially, it should work
        pre
          code.language-javascript.
            import XGifCore from './x-gif.core.js'
            myModule.directive('xGif', XGifCore.Angular);
            Ember.component('xGif', XGifCore.Ember);
            React.createClass(XGifCore.React);
            Polymer(XGifCore.Polymer);

      section.content
        h1.red ✖

      section.content
        h4 Problems
        ul
          li • Frameworks aren't really compatible with one another
          li • All have different expectations/idioms for accomplishing things

      //section.content
      //  h4 An example - Playback
      //  pre
      //    code.language-javascript
      //      = "setFrame(fraction, repeatCount) {\n  var frameNr = // SOME MATHS;\n  this.element.dataset['frame'] = frameNr;\n}"
      //  pre
      //    code.language-javascript
      //      = "setFrame(fraction, repeatCount) {\n  var frameNr = // SAME MATHS;\n  this.domUpdater.setFrame(frameNr);\n}"
      //
      //section.content
      //  pre
      //    code.language-javascript
      //      = "class DirectDomUpdater {\n  setFrame(frameNr) {\n    this.element.dataset['frame'] = frameNr;\n  }\n}"
      //  pre
      //    code.language-javascript
      //      = "// Meets the api for the DomUpdater that Playback expects\n// but React works totally differently.\nclass GifState {\n  setFrame(frameNr) { this.frameNr = frameNr; }\n}"

      section.content
        h4 An example - Playback
        pre: code.language-javascript
          = "setFrame(fraction, repeatCount) {\n  var frameNr = (this.pingPong && repeatCount % 2 >= 1) ?\n    this.gif.frameAt(1 - fraction) :\n    this.gif.frameAt(fraction);\n  this.element.dataset['frame'] = frameNr;\n}"

      section.content
        h4 React changes
        pre: code.language-javascript
          = "setFrame(fraction, repeatCount) {\n  var frameNr = // SAME MATHS;\n  this.domUpdater.setFrame(frameNr);\n}"
        pre: code.language-javascript
          = "class ShadowDomUpdater { /* ... */ }\n"
          = "class ReactStateUpdater {/* ... */ }\n"

      section.content
        img(src="images/loljava.png")

      section
        .fullscreen
          x-gif(src="images/nope.gif" fill stopped)

      section.content
        h1 Shadow DOM
        .mid is
        h1 badass

      section.content
        h1 :(

      section.content(data-bespoke-state='light')
        h3 Chapter Four
        h1 The Solution

      section.content(data-bespoke-state='chrome')
        h1 Chrome 36

      section.content(data-bespoke-state='light')
        img(src="images/addy_chrome_36.png")

      section.content(data-bespoke-state='light')
        h4 Polymer
        .mid is not equal to
        h4 Web Components

      section.content(data-bespoke-state='light')
        h6 Polymer
        pre: code.language-javascript
          = "class XGif {\n ready() { /* ... */ }\n}\nPolymer('x-gif', new XGif());"
        h6 Web Components
        pre: code.language-javascript
          = "class XGif extends HTMLElement {\n  createdCallback() { /* ... */ }\n}\ndocument.registerElement('x-gif', XGif);"

      section.content(data-bespoke-state='light')
        h6 Polymer
        pre.small: code.language-javascript
          = "srcChanged() {\n  this.playback = new Playback(/* ... */)\n}\nspeedChanged(oldVal, newVal) {\n  this.playback.speed = newVal;\n}"
        h6 Web Components
        pre.small: code.language-javascript
          = "attributeChangedCallback(attribute, oldVal, newVal) {\n  if (attribute == 'src') {\n    this.controller.srcChanged(newVal)\;\n  } else if (attribute == 'speed') {\n    this.controller.speedChanged(parseFloat(newVal));\n  // ..."

      section
        .fullscreen(ui-fx="blur1")
          x-gif(src="images/carl_sagan_good.gif" fill n-times="1" stopped)
        .content.wait-for-gif
          h1 Dumb ideas
          .mid are
          h1 awesome

      section.content(data-bespoke-state='light')
        h1 Thanks!
        .line
          .me
          h3
            strong @GlenMaddern
        h4
          strong geelen.github.io/a-gif-odyssey

      section.content(data-bespoke-state='light')
        img(src="images/djgif_logo.gif")
        h1
          a(target="_blank" href="http://djgif.com/?rdio=p7794600&tumblrs=mrdiv") DEMO

    script(src='scripts/scripts.js')
    link(rel="import" href="x-gif/dist/x-gif.raw.html")
