doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title A GIF Odyssey

    link(rel='stylesheet', type='text/css', href='styles/styles.css')

  body(unresolved)
    article
      section.content(data-bespoke-state='homescreen')
        h1 A GIF Odyssey
        .mid by
        .line
          .me
          h3 @GlenMaddern

      section.content
        h1 "Odyssey"

      section.content
        h3
          span.buildin "Series
          span.buildin -of
          span.buildin -dumb
          span.buildin -decisions
          span.buildin -that
          span.buildin -surprisingly
          span.buildin -result
          span.buildin -in
          span.buildin -working
          span.buildin -software"

      section
        .fullscreen
          x-gif(src="images/2012.gif" fill speed="1.5")
        .content
          h2 December
            strong  2012

      section.content
        .line
          .schwarz
          h3 @BenSchwarz

      section.content
        h1 VastImg
        .line
          .rtomayko
          h3 @RTomayko

      section.content
        h3 vastimg.herokuapp.com/?yourfile.gif

      section.content(data-bespoke-state='gif-skull')
      section.content(data-bespoke-state='gif-skull-2')

      section
        .fullscreen
          x-gif(src="images/carl_sagan_good.gif" fill n-times="1").blur1
        .content.wait-for-gif
          h2 Full-screen GIFs
          .mid are
          h1 awesome

      section.content
        h3 vastimg.herokuapp.com

      section
        .fullscreen
          x-gif(src="images/shocked.gif" fill n-times="1").blur2.dark5
        .content
          div
          h1 ETOOMUCHPORN

      section.content
        h1 Let's keep it SFW

      section.content
        .mid What has
        h3 lots of
          strong  GIFs
        .mid and is
        h3 totally
          strong  safe for work
        .mid ?

      section
        .fullscreen
          x-gif(src="images/shaking_head_breaking_bad.gif" fill ping-pong n-times="3").dark5
        .content
          h1 Tumblr

      section.content
        h3 Any
          span.feat  particular
          |  Tumblr
        ul
          li • Lots of GIFs
          li • Identified SFW/NSFW

      section
        .fullscreen
          x-gif(src="images/okthen.gif" fill n-times="1")

      section.content
        h1 GifCity
        .line
          .schwarz
          h4 @BenSchwarz
        .line
          h4 @GlenMaddern
          .me
        .line
          .bieber
          h4 @ToolmanTim
        .line
          h4 @NullObject
          .josh

      section.content
        h1 GifCity
        .mid +
        h1 Tumblr
        .mid =
        h1.red ♥

      section.content
        h4
          strong benschwarz.github.io/gifcity/?t=tumblrs,go,here

      section
        .content
          h2 mrdiv
        iframe(data-bespoke-delay-src='http://benschwarz.github.io/gifcity/?t=mrdiv')

      section
        .content
          h2 simpsonsgifs
        iframe(data-bespoke-delay-src='http://benschwarz.github.io/gifcity/?t=simpsonsgifs')

      section
        .content
          h2 skt-na-veia-sempre
        iframe(data-bespoke-delay-src='http://benschwarz.github.io/gifcity/?t=skt-na-veia-sempre')

      section.content
        h1 But we can do
          span.feat  more

      section
        .fullscreen
          x-gif(src="images/amazed.gif" fill n-times="1").blur1

      section.content
        .mid What about
        h1 synching
        .mid to
        h1 music
        .mid ?

      section.content.nobuild
        h1.fadeout GifCity
        .line.fadeout
          .schwarz
          h4 @BenSchwarz
        .line
          h4 @GlenMaddern
          .me
        .line.fadeout
          .bieber
          h4 @ToolmanTim
        .line.fadeout
          h4 @NullObject
          .josh

      section.content(data-bespoke-state='light')
        img(src="images/djgif_logo.gif")
        h1 DJGif
        h4 github.com/geelen/djgif
        h4 djgif.com
          span.feat  (soon)

      section.content(data-bespoke-state='light')
        img(src="images/djgif_logo.gif")
        h1 Tumblr GIFs
        .mid +
        h1 Rdio playlists
        .mid +
        h1.red ♥

      section.content.nobuild
        .mid Two challenges:
        ul
          li • Change speed of GIFs
          li • Find beats from music
        hr
      section.content
        pre
          code.language-markup.
            &lt;img src="probably_cats.gif"&gt;
        pre
          code.language-javascript.
            var img = new Image;
            img.src = "definitely_cats.gif";
        h3 Now what?

      section.content
        h1.red ✖

      section.content
        h1 Why not video?
        pre
          code.language-javascript.
            var video = document.createElement('video');
            video.autoPlay = true;
            video.loop = true;
            video.playbackRate = 1.5;
            video.src = 'converted.gif.mp4';

      section.content(data-bespoke-state='yeahnah')

      section.content
        h4 Break GIF into frames?
        pre
          code.language-markup.
            &lt;div data-frame="0"&gt;
              &lt;img src="frame0.gif"&gt;
              &lt;img src="frame1.gif"&gt;
              &lt;img src="frame2.gif"&gt;
            &lt;/div&gt;

      section.content
        h4 Position/hide them with CSS
        pre
          code.language-css.
            [data-frame] img {
              opacity: 0;
              position: absolute;
            }

            [data-frame="0"] img:nth-child(1),
            [data-frame="1"] img:nth-child(2),
            [data-frame="2"] img:nth-child(3) {
              opacity: 1;
            }

      section.content
        h4 Show them with JS
        pre
          code.language-javascript.
            var animate = function() {
              var currentFrame = calculateFrame();
              framesElement.dataset.frame = currentFrame;
              requestAnimationFrame(animate);
            }
            animate();

      section.content(data-bespoke-state='yep')

      section.content
        h1 Break GIF into frames:
        pre
          code.language-bash.
            brew install gifsicle
            gifsicle -e cats.gif
            # outputs cats.gif.001 cats.gif.002 etc

      section.content(data-bespoke-state='yeahnah')

      section.content
        .mid How can I
        h3
          strong break apart a
            span.feat  GIF
        .mid in the
        h3
          strong browser?
        hr

      section.content
        img(src='images/emscripten_logo.jpg')
        h4 github.com/kripken/emscripten

      section.content
        .mid Emscripten:
        ul
          li • Stubs out the file system
          li • Generates a lot of JS
          li • Isn't clever about using Browser APIs
        hr

      section.content(data-bespoke-state='yeahnah')

      section.content
        h1 Time for
          .feat Javascript Binary Hax!

      section.content
        h1 What's in a GIF?
        h5
          strong
            a(target="_blank" href='http://www.matthewflickinger.com/lab/whatsinagif/bits_and_bytes.asp') http://www.matthewflickinger.com/lab/ whatsinagif/bits_and_bytes.asp

      section
        iframe(data-bespoke-delay-src='http://www.matthewflickinger.com/lab/whatsinagif/bits_and_bytes.asp')

      section.content
        img(src="images/gif_file_stream.gif")

      section.content
        h3
          strong header
        h3
          strong
            span.feat frame
            span.green  frame
            span.red  frame
        h3
          strong footer

      section.content
        h3
          strong header
            span.feat  frame
            |  footer
        h3
          strong header
            span.green  frame
            |  footer
        h3
          strong header
            span.red  frame
            |  footer

      section.content
        pre
          code.language-javascript.
            var blob = new Blob(
              [ buffer1, buffer2, ... ],
              {type: 'mime/type'}
            );
            img.src = URL.createObjectURL(blob);
      section.content
        pre
          code.language-javascript.
            var header = gifData.slice(0, startOfFrames);
            var footer = gifData.slice(-1);
            for (var i = 0; i < indices.length; i++) {
              var frameData = gifData.slice(
                indices[i],
                indices[i+1] || endOfFrames);
              var blob = new Blob(
                [ header, frameData, gifFooter ],
                {type: 'image/gif'});
              frames.push(URL.createObjectURL(blob));
            }

      section.content
        h1 Binary in JS

      section.content
        pre
          code.language-javascript.
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'cats.gif', true);
            xhr.responseType = 'arraybuffer';
            xhr.onload = function () {
              this.reponse; // BINARY GIF MADNESS
            }
            xhr.send();

      section.content
        h1 Same Origin Policy

      section.content
        .mid Two options:
        h3
          strong.feat CORS
          |  on the server
        .mid vs
        h3
          strong.feat Proxy
          |  the content behind a domain you control
        hr

      section.content
        .mid Proxying content?
        h3 Run your own
          strong.feat  proxy
        .mid vs
        h3 Use a CDN for
          strong.red  evil
        hr

      section.content
        h3
          strong
            a(target="_blank" href='https://console.aws.amazon.com/cloudfront/home?#distribution-settings:EK5BEJUQJT3ZX') CloudFront
        img(src="images/cloudfront.png")

      section.content
        h4
          strong djgif.com/*.gif
        .mid =
        h4
          strong media.tumblr.com/*.gif

      section
        .fullscreen
          x-gif(src="images/ticked.gif" fill n-times="1" speed="1.5")
        .content.wait-for-gif
          h1 Same Origin Policy
          h1 ✔

      section.content
        .mid Recap
        h1
          | We've can pull down arbitrary GIF data from Tumblr
          | and split it into frames.
          | Now it's time to look at playback.

      section.content
        h1.feat Beat Detection

      section.content
        .mid Options
        h3 Do it live
        .mid vc
        h3 Do it ahead of time
        hr

      section.content
        h1 Doing it live

      section.content
        pre
          code.language-javascript.
            WEB AUDIO API EXAMPLE

      section.content


      section.content
        .mid Much, much more:
        ul
          li.fadeout • Music data from Rdio
          li.fadeout • Beat data from EchoNest
          li.fadeout • Beat matching playback
          li
            strong •
              a(target="_blank" href='http://djgif.com/?rdio=p7794600&tumblrs=simpsonsgifs')  DEMO
        hr

      section.content
        h1 The
          span.feat  full version
          |  of this talk
        .mid at
        h1 JSConf AU!
        h4 au.jsconf.com

      section.content(data-bespoke-state='fact')
        h1 Dumb ideas
        .mid are
        h1 awesome

      section.content(data-bespoke-state='thanks')
        h1 Thanks!
        .line
          .me
          h3 @GlenMaddern

    script(src='scripts/scripts.js')
    script(src='x-gif/dist/platform.js')
    link(rel="import" href="x-gif/dist/x-gif.html")
