doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title A GIF Odyssey

    script(src='x-gif/bower_components/platform/platform.js')
    link(rel="import" href="x-gif/dist/x-gif.html")
  body
    h1 OK
    x-gif(src="images/2012.gif")
